# Configurações do Banco de Dados
DB_HOST=db
DB_PORT=5432
DB_USER=postgres
DB_PASS=125320
DB_NAME=roboblazedados

# Configurações do Telegram
TELEGRAM_TOKEN=SEU_TOKEN_AQUI

# Configurações do Site
NEXT_PUBLIC_API_URL=http://SEU_IP_AQUI:8001
